spring:
  application:
    name: agentic-rag
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/smart_assistant_db?rewriteBatchedStatements=true&useUnicode=true&characterEncoding=UTF-8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
    username: root
    password: '123456789'
  data:
    redis:
      host: 192.168.65.128
      port: 6379
      password: 123456789
      # 库号（默认 0）
      database: 1
      # 连接超时时间
      timeout: 10000
      lettuce:
        pool:
          # 最大连接数
          max-active: 8
          # 最大空闲连接
          max-idle: 8
          # 最小空闲连接
          min-idle: 0
          # 最大等待时间（-1 无限制）
          max-wait: -1ms
  rabbitmq:
    host: 192.168.65.128
    port: 5672
    username: admin
    password: admin
    listener:
      simple:
        # 每次只从MQ拉取一条消息，处理完才拉下一条，防止消费者内存溢出，保护MySQL
        prefetch: 1
        # 开启手动确认机制，防止数据库执行失败导致消息丢失
        acknowledge-mode: manual
  servlet:
    multipart:
      max-file-size: 50MB      # 单个文件允许的最大大小
      max-request-size: 50MB   # 单个请求（可能包含多个文件和其他表单数据）允许的最大大小
# SpringDoc 配置 (OpenAPI 3)
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: org.dujia.generator.controller
# Knife4j 增强配置
knife4j:
  enable: true
  setting:
    language: zh_cn
# JWT 配置
jwt:
  # 密钥 (建议长度 >=32位，越复杂越安全)
  secret: mySecretKey1234567890tytytytytytyhhh
  # 过期时间（单位：毫秒） 1天 = 86400000
  expire: 86400000
mybatis-plus:
  global-config:
    db-config:
      logic-delete-value: 1
      logic-not-delete-value: 0
      insert-strategy: not_null
      update-strategy: not_null # 关键：只更新非null字段
langchain4j:
  open-ai:
    streaming-chat-model:
      api-key: your-api-key
      model-name: claude-sonnet-4-5-20250929
      base-url: your-base-url
app:
  file:
    upload-dir: E:/codes/loaddoc/
  ai:
    embedding_model_api_key: your-api-key
    reranker_model_model: BAAI/bge-reranker-v2-m3
  search:
    tavily:
        api-key: your-api-key
        timeout-seconds: 10
        search-depth: basic
        include-answer: true
        include-raw-content: false
    elasticsearch:
        url: your-base-url
        api-key: your-api-key
        index-name: kb_document_chunk